/* * {
  margin: 0;
  padding: o;
  box-sizing: border-box;
  
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.dark {
  background-color: black;
  color: white;
}
.dark > nav > a {
  color: white;
}

.light {
  width: 100%;
  background-color: #ffffff;
  color: #1a1a1a;
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover {
  color: rgb(136, 136, 136);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 3rem 1rem;
}
footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin-top: 2rem;
}

footer > img {
  width: auto;
  margin: 0;
}
footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover {
  border: 0.5px solid rgb(206, 217, 142);
}
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;500;700;900&display=swap');

:root {
  --fontBase: 'Noto Sans KR', sans-serif;
  --fontLight: 300;
  --fontRegular: 500;
  --fontBold: 700;
  --fontBlack: 900;
  --colorDark: #1a1a1a;
  --colorLight: #fafafa;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: var(--fontBase);
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

li {
  list-style-type: none;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

#root {
  isolation: isolate;
}


a {
  color: var(--colorLight);
}

a:hover {
  color: var(--colorLight);
}

.dark {
  background-color: var(--colorDark);
  color: var(--colorLight);
}

.dark a {
  color: var(--colorLight);
}

.light {
  background-color: var(--colorLight);
  color: rgb(6, 6, 6);
}

.light a {
  color: rgb(6, 6, 6);
}

.light .card {
  border: 0.5px solid rgb(136, 136, 136);
}

.hero-btn {
  border-radius: 5px;
  background: #60B1C7;
  color: #DEF0F4 !important;
  padding: 0.5rem 1rem;
  cursor: pointer;
}